<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AC-remote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A18A02CB1E1CCA7000D110F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18A02DF1E1CCA7100D110F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18A02EA1E1CCA7100D110F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
